<nav class="navbar col-md-8" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
    <li>
      <%= image_tag "/images/shipping.jpg" %>
      <%= image_tag "/images/text.png" %>
    </li>
  </ul>
</nav>
