<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <% if [1, 57].include?(taxonomy.id)  %>
        <% taxon = ActiveRecord::Base.connection.select_one("select id from spree_taxons where taxonomy_id = #{taxonomy.id} AND parent_id IS NULL") %>
        <h4 class='taxonomy-root'>
          <%= link_to Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name), "#{products_path}?taxon=#{taxon['id']}" %>
        </h4>
        <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
      <% end %>
    <% end %>
  <% end %>
</nav>
